@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

:root{
  /* Belsberg kleuren */
  --belsberg-livid:#4C717A;
  --belsberg-sky:#7DB5C3;
  --belsberg-navy:#003D50;
  --belsberg-lime:#D2F8C0;
  --belsberg-lav:#B0A1F9;

  /* Material primary/accent naar Belsberg kleuren */
  --md-primary-fg-color: var(--belsberg-livid);
  --md-accent-fg-color:  var(--belsberg-sky);
}

.md-typeset {
  font-family: 'Space Grotesk', system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

a {
  color: var(--belsberg-livid);
}

.md-header,
.md-tabs {
  background-color: var(--belsberg-livid);
  color: white;
}

.md-nav__title,
.md-nav__link {
  color: var(--belsberg-navy) !important;
}
